.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 6%;
  background-color: #4f46e5;
}

.navbar_logo a {
  color: white;
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
}

.nav_links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav_links a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
}

.nav_links a:hover {
  color: #facc15;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 15px;
  }

  .nav_links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}
.logout_button {
  border: none;
  background: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.logout_button:hover {
  color: #facc15;
}